<BaseLayout>
  <slot name="header">
    <div class="flex flex-row justify-between font-extralight">
      <FormattedTime &date="(get context document.data.date)" />
      <div>
        <div>
          Author:
          <span &children="(get context document.data.author)"></span>
          <div></div>
        </div>
        <div &visibleIf="(get context document.data.editor)">
          Editor:
          <span &children="(get context document.data.editor)"></span>
        </div>
      </div>
    </div>
  </slot>
  <slot name="content">
    <div
      class="md:mx-auto px-4 md:px-0 w-full lg:max-w-3xl prose lg:prose-xl"
      &children="(get context document.content)"
    ></div>
  </slot>
</BaseLayout>
