<BaseLayout>
  <slot name="content">
    <div class="prose lg:prose-xl">
      <Markdown
        >The conference tickets include a light breakfast, snacks during the
        breaks, a buffet-style lunch, and an afterparty with sauna on Wednesday
        (28.5). For full-day workshops, a lunch is included.</Markdown
      >
      <Markdown
        >**Note:** You can get a 10% team discount with the coupon
        `TEAM_DISCOUNT`. This discount applies only to conference tickets (three
        or more).</Markdown
      >
      <Markdown
        >In case you prefer an invoice instead of a card payment, let us know
        via email (info &lt;at&gt; futurefrontend.com). In the email, specify
        the tickets you would like to purchase and include your company
        information (name, address, VAT id).</Markdown
      >
      <Markdown
        >Note that we cannot write you an invoice with reverse charge for VAT
        due to [EU rules applying to physical events explained
        here](https://help.tito.io/en/articles/2011609-vat-in-the-european-union).
        That said, you may be able to recover the VAT through a deduction
        through your local government.</Markdown
      >
      <tito-widget event="future-frontend/2025"></tito-widget>

      <Markdown as="div"
        >> [Read the announcement post to learn more about Future Frontend
        2025.](/blog/ff25/)
      </Markdown>

      <Markdown
        >[See our attendee guide for information about Finland, hotels,
        etc.](/for-attendees/)</Markdown
      >

      <Markdown
        >If you need a visa to enter Finland, [please see our specific
        instructions](/for-attendees/#i-am-from-a-country-that-requires-a-visa-for-finland-how-can-i-get-one-).
        To keep it simple, we can reserve the ticket(s) you want and you can
        handle the payment upon approval of your visa.</Markdown
      >

      <script x-attr src="https://js.tito.io/v2" async></script>
    </div>
  </slot>
</BaseLayout>
