<BaseLayout>
  <slot name="content">
    <div class="flex flex-col gap-8">
      <Markdown
        >Note that the schedule times are given in GMT+3. [The schedule is
        available as an ICS
        file](https://api.react-finland.fi/calendar-2025.ics) in case you want
        to add it to your calendar.
      </Markdown>
      <Mardown
        >Especially in the early phases of planning, the exact schedule is
        subject to change! So expect sessions to move around and get renamed
        until the end of March.</Mardown
      >
      <Schedule &children="(get context schedule)" />
    </div>
  </slot>
</BaseLayout>
