<div class="flex flex-col gap-8">
  <Heading showAnchor level="2" class="sr-only" id="all-sponsors"
    >All sponsors</Heading
  >
  <div class="flex flex-col gap-4">
    <Heading showAnchor level="3" class="text-6xl">Gold sponsors</Heading>
    <div class="flex flex-col gap-4">
      <div
        class="grid grid-cols-1 gap-8"
        &visibleIf="(get props conference.goldSponsors)"
      >
        <MiniSponsors
          aClass="my-auto"
          width="400"
          &children="(get props conference.goldSponsors)"
        />
      </div>
      <SiteLink href="for-sponsors">Become a sponsor</SiteLink>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <Heading showAnchor level="3" class="text-4xl">Silver sponsors</Heading>
    <div class="flex flex-col gap-4">
      <div
        class="grid grid-cols-2 gap-16"
        &visibleIf="(get props conference.silverSponsors)"
      >
        <MiniSponsors
          aClass="my-auto"
          height="100"
          &children="(get props conference.silverSponsors)"
        />
      </div>
      <SiteLink href="for-sponsors">Become a sponsor</SiteLink>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <Heading showAnchor level="3" class="text-2xl">Bronze sponsors</Heading>
    <div class="flex flex-col gap-4">
      <div
        class="grid grid-cols-2 md:grid-cols-4 gap-8"
        &visibleIf="(get props conference.bronzeSponsors)"
      >
        <MiniSponsors
          aClass="my-auto"
          imgClass="object-contain h-12"
          &children="(get props conference.bronzeSponsors)"
        />
      </div>
      <SiteLink href="for-sponsors">Become a sponsor</SiteLink>
    </div>
  </div>
  <div &visibleIf="(get props conference.partners)" class="flex flex-col gap-1">
    <Heading showAnchor level="3" class="text-2xl">Partners</Heading>
    <div
      class="grid grid-cols-4 gap-x-8 gap-y-4"
      &visibleIf="(get props conference.partners)"
    >
      <MiniSponsors
        aClass="my-auto"
        imgClass="object-contain h-24"
        &children="(get props conference.partners)"
      />
    </div>
  </div>
</div>
