<noop
  &visibleIf="(get props children)"
  &type="(concat h (get props level))"
  &id="(getUniqueAnchorId (get props children))"
  &class="(concat
    (get props class)
    ' '
    'font-primary scroll-mt-16'
  )"
>
  <div
    &class="(or (get props textClass) 'inline')"
    &children="(get props children)"
  />
  <a
    &visibleIf="(get props showAnchor)"
    class="ml-2 no-underline text-md md:text-xs align-middle mask-text-gray hover:mask-text-black"
    &href="(concat # (get local id))"
    >🔗</a
  >
</noop>
