<footer class="bg-navigation">
  <div
    class="text-white sm:mx-auto px-4 py-4 sm:py-8 max-w-2xl grid grid-cols-2 sm:grid-cols-4 gap-16"
  >
    <div class="flex flex-col gap-4">
      <SiteLink href="organizers">Organizers</SiteLink>
      <SiteLink href="contact">Contact</SiteLink>
      <SiteLink href="privacy-policy">Privacy policy</SiteLink>
      <SiteLink href="http://berlincodeofconduct.org/"
        >Code of conduct</SiteLink
      >
    </div>
    <div class="flex flex-col gap-4">
      <SiteLink href="for-attendees">For attendees</SiteLink>
      <SiteLink href="for-sponsors">For sponsors</SiteLink>
      <SiteLink href="for-speakers">For speakers</SiteLink>
      <SiteLink href="meetup">Meetup</SiteLink>
    </div>
    <div class="flex flex-col gap-4">
      <SiteLink href="https://twitter.com/future_frontend"
        >Future Frontend on X</SiteLink
      >
      <SiteLink href="https://bsky.app/profile/futurefrontend.bsky.social"
        >Future Frontend on Bluesky</SiteLink
      >
      <SiteLink href="https://www.youtube.com/channel/UCaRI1HtkJiOvCgkIddioVcw"
        >Youtube</SiteLink
      >
      <SiteLink href="https://www.flickr.com/photos/react-finland/"
        >Photo gallery</SiteLink
      >
      <SiteLink href="https://github.com/ReactFinland/future-frontend-site"
        >Site source</SiteLink
      >
    </div>
    <div class="flex flex-col gap-4">
      <SiteLink href="2023">2023</SiteLink>
      <SiteLink href="2024">2024</SiteLink>
      <SiteLink href="2025">2025</SiteLink>
    </div>
  </div>
</footer>
