<div
  class="z-50 mx-auto px-4 py-2 flex flex-row items-center justify-center flex-wrap gap-8 sticky top-0 bg-navigation text-white"
>
  <Navigation />
</div>
<header class="sm:mx-auto px-4 py-4 sm:py-8 max-w-2xl">
  <div class="flex flex-col gap-8">
    <Heading level="1" hideAnchor="true" class="text-4xl md:text-8xl">
      <span
        class="align-middle font-primary text-tertiary"
        &children="(get context meta.title)"
      ></span>
    </Heading>
    <div &children="(render (get props content))" />
  </div>
</header>
