<footer class="bg-black py-8 bg-gradient-to-br from-primary to-black">
  <div
    class="text-white sm:mx-auto px-4 py-4 sm:py-8 max-w-2xl grid grid-cols-2 md:grid-cols-4 gap-16"
  >
    <div class="flex flex-col gap-4">
      <Navigation />
    </div>
    <div class="flex flex-col gap-4">
      <SiteLink href="organizers">Organizers</SiteLink>
      <SiteLink href="contact">Contact</SiteLink>
      <SiteLink href="privacy-policy">Privacy policy</SiteLink>
      <SiteLink href="http://berlincodeofconduct.org/"
        >Code of conduct</SiteLink
      >
      <SiteLink
        href="https://thl.fi/en/web/infectious-diseases-and-vaccinations/what-s-new/coronavirus-covid-19-latest-updates"
        >Pandemic information</SiteLink
      >
    </div>
    <div class="flex flex-col gap-4">
      <SiteLink href="for-attendees">For attendees</SiteLink>
      <SiteLink href="for-speakers">For speakers</SiteLink>
      <SiteLink href="for-sponsors">For sponsors</SiteLink>
    </div>
    <div class="flex flex-col gap-4">
      <SiteLink href="https://twitter.com/future_frontend"
        >@future_frontend</SiteLink
      >
      <SiteLink href="https://www.youtube.com/channel/UCaRI1HtkJiOvCgkIddioVcw"
        >Youtube</SiteLink
      >
      <SiteLink href="https://www.flickr.com/photos/react-finland/"
        >Photo gallery</SiteLink
      >
      <SiteLink
        href="https://join.slack.com/t/toskaosk/shared_invite/zt-4e8c84ow-JybtzFPZWXpZ8cZBpMy1wQ"
        >Join Slack</SiteLink
      >
      <SiteLink href="https://github.com/ReactFinland/future-frontend-site"
        >Site source</SiteLink
      >
    </div>
  </div>
</footer>
