<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" &content="(get context meta.description)" />
<meta name="built" &content="(get context meta.built)" />
<meta name="page:url" &content="(get context url)" />

<meta
  property="og:url"
  &content="(urlJoin (get context meta.url) (trim (get context url) /))"
/>
<meta property="og:type" content="website" />
<meta property="og:site_name" &content="(get context meta.siteName)" />
<meta property="og:title" &content="(get context meta.title)" />
<meta property="og:description" &content="(get context meta.description)" />
<meta
  &visibleIf="(invert (get context showOg))"
  property="og:image"
  &content="(urlJoin (get context meta.url) images/og.png)"
/>
<meta
  &visibleIf="(get context showOg)"
  property="og:image"
  &content="(urlJoin (get context meta.url) (trim (get context url) /) og.png)"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" &content="(get context meta.siteName)" />
<meta name="twitter:title" &content="(get context meta.title)" />
<meta
  name="twitter:description"
  &content="(get context meta.description)"
/>
<meta
  &visibleIf="(invert (get context showOg))"
  name="twitter:image"
  &content="(urlJoin (get context meta.url) images/og.png)"
/>
<meta
  &visibleIf="(get context showOg)"
  name="twitter:image"
  &content="(urlJoin (get context meta.url) (trim (get context url) /) og.png)"
/>

<title &children="(get context meta.title)"></title>
