<noop &foreach="(get props children)">
  <a
    &href="(concat /speakers # (slugify (get props
  name)))"
  >
    <figure &class="(get props imgContainerClass 'flex flex-col gap-2')">
      <img
        &class="(get props imgClass '')"
        loading="lazy"
        &src="(rewriteImageSource (get props image.url))"
        title="(get props tagline)"
        width="102"
        height="102"
      />
      <figcaption
        &class="(get props captionClass '')"
        &children="(get props name)"
      />
    </figure>
  </a>
</noop>
