<SiteLink href="/">About</SiteLink>
<SiteLink href="speakers">Speakers</SiteLink>
<SiteLink href="schedule">Schedule</SiteLink>
<SiteLink href="jobs">Jobs</SiteLink>
<SiteLink href="blog">Blog</SiteLink>
<SiteLink href="2023">2023</SiteLink>
<SiteLink href="2024">2024</SiteLink>
<SiteLink href="blog/ff25">2025</SiteLink>
<SiteLink
  href="https://join.slack.com/t/toskaosk/shared_invite/zt-4e8c84ow-JybtzFPZWXpZ8cZBpMy1wQ"
  >Join Slack</SiteLink
>
<div class="rounded-lg p-1 -ml-1 border-2 bg-primary">
  <SiteLink href="buy-tickets">Buy tickets</SiteLink>
</div>
