<SiteLink href="/">About</SiteLink>
<SiteLink href="speakers" &visibleIf="(get props showSpeakers)"
  >Speakers</SiteLink
>
<SiteLink href="schedule" &visibleIf="(get props showSchedule)"
  >Schedule</SiteLink
>
<SiteLink href="workshops" &visibleIf="(get props showWorkshops)"
  >Workshops</SiteLink
>
<SiteLink href="meetup">Meetup</SiteLink>
<SiteLink href="blog">Blog</SiteLink>
<SiteLink
  href="https://join.slack.com/t/toskaosk/shared_invite/zt-4e8c84ow-JybtzFPZWXpZ8cZBpMy1wQ"
  >Join Slack</SiteLink
>
<div
  class="rounded-lg p-1 -ml-1 border-2 bg-primary"
  &visibleIf="(get props showBuyTickets)"
>
  <SiteLink href="buy-tickets">Buy tickets</SiteLink>
</div>
